* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    padding: 2rem 0 2rem 0;
    overflow: hidden;
    .footer-container {
        width: 80%;
        .top-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 10%;
        }
        .middle-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid gray;
            box-sizing: border-box;
            width: 100%;
            padding: 0 10%;
            ul {
                li {
                    list-style: none;
                    margin: 1.6rem;
                    color: gray;
                    cursor: pointer;
                    span {
                        color: white;
                        font-weight: 700;
                    }
                }
            }
        }
        .bottom-footer {
            width: 100%;
            text-align: center;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer-icons {
                span {
                    padding: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 48rem) {
    .footer {
        .footer-container {
            .top-footer {
                flex-direction: column;
            }
            .middle-footer {
                display: grid;
                grid-template-columns: repeat(2, auto);
            }
            .bottom-footer {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 37.5rem) {
    .footer {
        .footer-container {
            .top-footer {
                flex-direction: column;
            }
            .middle-footer {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .bottom-footer {
                flex-direction: column;
            }
        }
    }
}
